body {
   background-color: #EEE6DE;
   margin: 0px;
   margin-top: 50px;
}

h4 {
    color: #BE845E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.navbar {
    position: absolute;
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: #BE845E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeButton{
    background-color: #BE845E;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    margin: 0 10px 0 10px
}
.homeButton:hover{
    cursor: pointer;
}

.logoutButton{
    background-color: rgb(255, 173, 173);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 6px 0px;
    padding: 10px 25px 10px 25px;
    margin: 0 10px 0 10px
}
.logoutButton:hover{
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.pageContainer{
    display: flex;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    margin: 30px 0 30px 0;
    padding: 10px 0 10px 0;
}

.add-project-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addProjectButtonContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.addProjectButton{
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 6px 0px;
    padding: 1%;
}
.addProjectButton:hover{
    background-color: rgb(241, 241, 241);
}

.cancelButton{
    background-color: rgb(255, 173, 173);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 6px 0px;
    padding: 1%;
}
.cancelButton:hover{
    background-color: rgb(241, 241, 241);
}

.addProjectInput{
    background-color: white;
    border: none;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 6px 0px;
    padding: 1%;
}
.displayPageContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.4) 20px 20px 8px 0px;
    padding: 2%;
}

.logo-img {
    width: 350px;
}

.miniLogo {
    height: 50px;
}

.gh-login {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 20px;
    background-color: #EEE6DE;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgb(164, 164, 164);
    transition: background-color .2s, box-shadow .2s;
}

.gh-login:hover {
    background-color: #f1e9e1;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgb(164, 164, 164);
}

.gh-login:active {
    text-decoration: none;
    color: #d7d7d7;
    box-shadow: 2px 2px 3px rgb(164, 164, 164);
}

.gh-icon {
    color: red;
    border-radius: 25px;
    height: 35px;
    width: 35px;
    box-shadow: 2px 2px 5px rgb(159, 159, 159);
    margin-right: 20px;
}

.addProjectContainer{
    display: flex;
    height: 80%;
    width: 80%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    padding: 2%;
}
.addProjectRow{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}
.addProjectLabelContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.addProjectInputContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.projectEntry{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    width: 80%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    padding: 2%;
    font-size: 10px;
    margin-top: 2%;
}
.loginLabel{
    font-size: 10px;
}

.pullReqRed{
    color: red;
}
.pullReq{
    color: green
}
.pullReqBlack{
    color: black;
}
.pullReqContainer{
    display: flex;
    padding: 2px;
    margin-top: 2px;
}
.chartContainer{
    height: 200px;
    width: 100%;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }


/* background-color = #EEE6DE */
/* button brown color = #BE845E */
